
footer{
    margin-top:0px !important;
    background-color:white;
    color:#8350d6;
  }
  
  .footer-copyright{
      background-color:#2017a7; 
      color: white;
  }
  
  
  .col-md-2 a:hover{
    text-decoration: none;
  }


 