<div class="bgded1 overlay" style="background-image:url('../../assets/images/icon.jpg');"> 
 
    <div id="pageintro" class="hoc clear"> 
     <!-- ################################################################################################ -->
     <article>
       <p class="heading">Welcome to Message Me</p>
       <h2 class="heading">Send Message To Anyone From Anywhere</h2>
       <p class="msg">> Secured Identity</p>
       <p class="msg">> Exciting Messages</p>
       <footer>
         <div class="nospace inline pushright">
           <!-- <button  class="btn b1" routerLink="/message">Get Started</button> -->
           <!-- <p>Refer To your  friends and get exiting messages</p> -->
         </div>
       </footer>
     </article>
     <!-- ################################################################################################ -->
   </div>
   <!-- ################################################################################################ -->
 </div>