<div class="container">
  <div class="background">
    <div class="imgcontainer">
      <img src="../assets/images/icon.jpg" alt="Gym-icon" class="avatar">
    </div>

    <h1 class="display-4">Login</h1>
    <hr>
    <form  (submit)="LoginSubmit()">
    <div class="form-group">
      <label for="email">
        E-mail
      </label>
      <input class="form-control" type="email" placeholder="Enter Email"  [(ngModel)]="email"  name="email" required>
</div>
<div class="form-group">
      <label for="psw">
          Password
      </label>
      <input class="form-control" type="password" placeholder="Enter Password" [(ngModel)]="password" name="password" required>
    </div>
    <input type="submit" class="btn btn-primary" value="Login"  style="margin:20px 220px;">
  </form> 
  </div>
  
  </div>
