
.container{
  
  background-image: url("../../../assets/images/fbc.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  
  margin-top:0px;
  padding-top:10px !important;
  padding-bottom:60px !important;

}
.background{
  background: rgba(255, 255, 255, 0.6);
  width:600px;
  margin:0px auto;
  
  border-radius:8px;
  
}
form{
  max-width:600px;
  margin: 0px auto 0px auto;
  color:black;
   
}

.display-4{
  font-size:35px;
  /* margin-bottom: 20px; */
  margin-left:250px;
  margin-right:auto;
  /* padding-top:20px; */
}

.form-group{
 max-width: 500px;
  margin:0px auto;
  /* padding:10px; */
  
}


form .col-md-3{
  margin:0px;

  padding:0px;
}

.btn-primary{
  margin-left:200px;
}

.form-check-inline{
  /* margin:20px 10px 20px 60px; */
 margin: 5px 10px 5px 60px
}

@media (max-width:768px){
  .background{
    width:100%;
  }
}